<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Crime toolbar</Name><AddInID>{33aa659d-4781-4f83-88ed-d815713ef1a0}</AddInID><Description>Crime Analysis for Manchester police</Description><Version>0.1</Version><Image /><Author>Adam Johnston</Author><Company>University of Leeds</Company><Date>05/01/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="Risk calculation" category="Crime toolbar" class="RiskButton" id="addin_addin.RiskButton" image="Images\icon.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Buglary tools" category="Crime toolbar" id="addin_addin.BuglaryToolbar" showInitially="true"><Items><Button refID="addin_addin.RiskButton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>