<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Explosion Addin</Name><AddInID>{840b0205-bad2-4df1-b772-0baab956bea7}</AddInID><Description>First Addin attempt for Explosion tools</Description><Version>0.1</Version><Image>Images\xplosion.png</Image><Author>Adam Johnston</Author><Company>University of Leeds</Company><Date>05/01/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="Explosion Assessment" category="Explosion Addin" class="ExplosionButtonClass" id="addin_addin.explosionbutton" image="Images\icon.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Model Toolbar" category="Explosion Addin" id="addin_addin.modeltoolbar" showInitially="true"><Items><Button refID="addin_addin.explosionbutton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>