/* CSS for homepage specific content
*QG Mapper website
*/


/* ### Title section ###*/

#titleSkeleton{
	padding-top: 200px;
	padding-left: 30%;
	height: 500px;
	/*border-style: solid;
	border-width: 1px;
	*/
}

#titleSection{
	width: 400px;
	
}


/* ### Our Story section ###*/

#contentSkeleton{
	padding-top: 100px;
	height: 500px;

}

#contentSection{
	height: 400px;
	width: 70%;
}


