/* CSS for standard Assignment 1 webpage for following elements used across several pages
Header, navigation bar and footer
*/


/* ### Header elements ### */
.headSection{
	position: absolute;
	top: 0;
	left: 0;
	height: 160px;
	
	/*position: sticky;
	top: 0;
	*/
}
	
#logo{
	height: 130px;
	padding-left: 15px;
	padding-top: 15px;

}


.navBarText a{
	font-family: 'Open Sans', sans-serif;
	color: #b7c1c1;
}

#navBar{
	font-family: 'Open Sans', sans-serif;
	color: #b7c1c1;
	border-spacing: 35px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;

	
}



body{
	background: #2d2d2d;
	color: white;

}

body h2{
	font-family: 'Exo', sans-serif;
	font-size: 60px;
}

body p{
	font-family: 'Merriweather Sans', sans-serif;
}

footer{

	height: 120px;
	/*background-color: #262626;*/
}

#footerSkeleton{
	background-color: #262626;
	opacity: 0.75;
	height: 120px;
	padding-top: 10px;
}

.footSect{
	width: 47%;
	height: 100px;
	float: left;
	padding-left: 3%;
	font-family: 'Merriweather Sans', sans-serif;
	text-align: left;
	padding-top: 10px;
	

}

#footRight{
	padding-top: 30px;

}


.footRight1{
	float: right;
	padding-right: 30px
}

.footLeft1{
	float: left;
	padding-left: 30px;
}




