/* CSS for advanced portfolio specific content
*Adam Johnston's python portfolio website
*/


/* ### Title section ###*/

#titleSkeleton{
	padding-top: 200px;
	padding-left: 30%;
	height: 500px;
	/*border-style: solid;
	border-width: 1px;*/
	
}

#titleSection{
	width: 650px;	
}


/*### General page styles ###*/


.imageSectionR{
	width: 25%;
	height: 450px;
	float: right;
}
.imageSectionL{
	width: 25%;
	height: 450px;
	float: left;
}

.textSectionR{
	width: 70%;
	height: 450px;
	float: right;
	padding-left: 1%;
}

.textSectionL{
	width: 70%;
	height: 450px;
	float: left;
	padding-left: 1%;
}

.downloadSectionR{
	width: 100%;
	height: 120px;
	float: right;
	text-align: center;
}


.downloadIcon{
	height: 80px;
	float: center;
}

.downloadText{
	float: center;
	
}

body h3{
	padding-top: 40px; 
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
}

/* Table stlying */
.filesTable{
	float: center;
	text-align: center;
	color: #b7c1c1;
	border-collapse: collapse;
}

.filesTable td{
	width: 150px;
	padding: 5px;
	color: red;
}

.filesTable a{
	color: red;
}

.uno{
	background-color: #d9d9d9; 
}

.dos{
	background-color: #b3b3b3;
}

/* ### Arcpy section ###*/

#arcpySkeleton{
	padding-top: 100px;
	height: 600px;
}

#arcpyImage{
	width: 20%;
	position: absolute;
	right: 0;
}


#downloadIcon{
	width: 50%;
	padding-left: 50%;
	padding-top: 80px;
	
}

/* ### XML section ###*/

#xmlSkeleton{
	padding-top: 100px;
	height: 450px;
}

#xmlImage{
	width: 20%;
	position: absolute;
	left: 0;
}

/* ### pandas section ###*/

#pandasSkeleton{
	padding-top: 100px;
	height: 600px;
}

#pandasImage{
	width: 20%;
	position: absolute;
	right: 0;
}
